DISCORD_TOKEN=your_discord_bot_token_here
GITHUB_TOKEN=your_github_personal_access_token_here
GITHUB_REPO=deinusername/discord_map_bot
GITHUB_DATA_REPO=deinusername/discord_map_data
MAP_URL=https://deinusername.github.io/discord_map_bot
